.parent {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(241, 241, 241);

}

.body {
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 98%;
    max-width: 400px;
    background-color: white;
}

.box-color {
    background-color: rgb(241, 241, 241);
}

.heading {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.input-box {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.box-size {
    width: 90%;
    padding: 15px;
    border-radius: 20px;
    border: none;
    margin-top: 12px;
}


.Services {
    width: 100%;
    font-size: large;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 70px;
}
@media screen and (max-width: 320px) and (min-width: 280px) {
    .Services {
        height: 120px;
    }
}
.buttons {
    display: flex;
    justify-content: space-evenly;
}

.button {
    width: 30%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    color: black;
}

.button:hover {
    background-color: rgb(26, 103, 175);
    color: white;
    cursor: pointer;
}